body{
  overflow-x: hidden;
}

#create-data-btn {
  background-color: lightgreen;
}

.create-data {
  display: flex;
  flex-direction: column;
}

.hourly-header{
  text-align: center;
}

#hourly-ammount-box {
  display: none;
}

.parent-form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-div{
  background-color: #EEEEEE;
  box-shadow: 5px 5px 5px 5px rgb(80, 79, 79);
  width: 35vw;
  height: 65vh;
  display: flex;
  justify-content: center;
}

.form-class{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-boxes{
  margin-top: 4%;
  margin-bottom: 4%;
  height: 45px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 12pt;
}

.login-boxes{
  width: 100%;
  height: 45px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 12pt;
}

.signup-body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.signup-head{
  display: flex;
  justify-content: center;
  color: rgb(82, 153, 82);
  font-family: sans-serif;
  margin-bottom: 20%;
}

.signup-btn{
  margin-top: 20%;
  height: 6.5%;
  margin-bottom: 7%;
  font-family: sans-serif;
  font-size: 12pt;
}

.login-body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.skeen-logo{
  width: 30%;
  height: 30%;
}

.form-class {
  height: 500%;
}

.clients-text{
  font-family: sans-serif;
  font-size: 15pt;
}

.card-body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#survey-btn-update{
  color: white;
  background-color: rgb(22, 118, 216);
  border: 2px solid rgb(19, 100, 184);
  width: 5%;
}

#survey-btn-update:hover{
  color: white;
  cursor: pointer;
  background-color: rgb(19, 100, 184);
  border: 2px solid rgb(14, 73, 136);
}

#survey-btn-remove{
  background-color: rgb(235, 82, 82);
  color: white;
  border: 2px solid rgb(184, 19, 19);
  cursor: pointer;
  width: 5%;
}

#survey-btn-remove:hover{
  background-color: rgb(184, 19, 19);
  color: white;
  border: 2px solid rgb(136, 14, 14);
}


#survey-btn-nearby{
  color: white;
  background-color: rgb(77, 175, 77);
  border: 2px solid rgb(52, 103, 52);
  width: 5%;
}

#survey-btn-nearby:hover{
  color: white;
  cursor: pointer;
  background-color: rgb(67, 135, 67);
  border: 2px solid rgb(113, 157, 113);
}

.client-div{
  width: 50%;
}

.phone-div{
  width: 50%;
}

.card-body{
  display: block;
}

.date-ordered-surveys{
  color: rgb(22, 118, 216);
  font-size: 12pt;
}

.due-date-surveys{
  color: rgb(250, 161, 244);
  font-size: 12pt;
}

.date-status-surveys{
  color: rgb(22, 118, 216);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.pagination{
  width: 100%;
  height: 15%;
}

.btn3 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  width: 15%;
}

.btn:hover {
  background-color: #0056b3;
}

.ammount-surveys{
  color: rgb(77, 175, 77);
  font-size: 12pt;
}

.page-header-create{
  display: flex;
  justify-content: space-between;
}

.boxes{
  width: 25%;
  height: 10%;
}

#number-box{
  text-align: center;
}

.space-between-words{
  margin-bottom: 2%;
}

@media (max-width: 650px) {
  .hr-surveys{
    display: none;
  }
  #survey-btn-update{
    color: white;
    background-color: rgb(22, 118, 216);
    border: 2px solid rgb(19, 100, 184);
    font-size: 8pt;
    width: 100%;
  }
  
  #survey-btn-remove{
    background-color: rgb(235, 82, 82);
    color: white;
    border: 2px solid rgb(184, 19, 19);
    cursor: pointer;
    font-size: 8pt;
    width: 100%;
  }
  
  #survey-btn-nearby{
    color: white;
    background-color: rgb(77, 175, 77);
    border: 2px solid rgb(52, 103, 52);
    font-size: 8pt;
    width: 100%;
  }
}

.no-display{
  display: none;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.spinner {
  border: 6px solid #ccc;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 580px) {
  .btn-group.card-option button {
    display: block; /* Ensure buttons are displayed */
    width: 100%; /* Make buttons take full width */
    margin-bottom: 5px; /* Add spacing between buttons */
  }
}