{% extends 'layouts/auth_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Login {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <a href="{% url 'home' %}" class="d-flex justify-content-center">
              <img class="skeen-logo" src="{% static 'assets/images/logo.png' %}" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Hi, Welcome Back</b></h2>

                </div>
              </div>
            </div>
            <form method="post">
              {% csrf_token %}

              <div class="form-floating mb-3">
                <input name="username" class="login-boxes" placeholder="Username"></input>
              </div>
              <div class="form-floating mb-3">
                <input type="password" name="password" class="login-boxes" placeholder="Password"></input>
              </div>
              <span class="text-danger">{{ field.errors }}</span>
              <div class="d-flex mt-1 justify-content-between">
                <div class="form-check">
                  <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                  <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
                </div>
                <h5 class="text-secondary">
                  <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </h5>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary">Sign In</button>
              </div>
            </form>
            <hr />
            <h5 class="d-flex justify-content-center">Don't have an account?
              <a class="ms-2" href="{% url 'signup' %}">Register</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
