<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS - Map</title>
  <link rel="stylesheet" href="{% static 'map.css' %}">
</head>

<body>
  {{request.user}}

    <!-- Loading Overlay -->
    <div id="loading-overlay">
        <div class="loading-content">
            <div class="spinner"></div>
            <p>Searching...</p>
        </div>
    </div>
  
  <div id="map"></div>
  <div id="info-box" class="info-box"></div>

  {% comment %} Load Script {% endcomment %}
  <script src="{% static 'map.js' %}"></script>
</body>
</html>