{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Searching Nearby Surveys {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles.css' %}" />

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Nearby Surveys</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="../navigation/index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Nearby Surveys</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <div id="survey-id" class="no-display">{{init_survey.id}}</div>
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
          <div class="card-header">
            <h5 style="color: rgb(77, 175, 77); font-size: 15pt;">{{init_survey.Number}}</h5>
            <div class="card-header-right">
            {% if user.is_superuser %}
            <div class="btn-group card-option">
              {% comment %} UPDATE {% endcomment %}
              <a href="{% url 'update_survey' init_survey.id %}" id="survey-btn-update" class="btn btn-light d-flex align-items-center">
                <i class="ti ti-arrow-up mr-2 icon-responsive"></i> Update
              </a>
              {% comment %} DELETE {% endcomment %}
              <a href="{% url 'delete_survey' init_survey.id %}" id="survey-btn-remove" class="btn btn-light d-flex align-items-center" onclick="return confirmDelete()">
                <i class="ti ti-trash mr-2 icon-responsive"></i> Remove
              </a>
            </div>
            {% endif %}
          </div>
          <hr class="hr-surveys"/>
          <div class="date-status-surveys">
          <p class="date-ordered-surveys">{{init_survey.DateOrdered}}</divp>
            {% if init_survey.Status %}
              <p class="status-surveys">{{ init_survey.Status }}</p>
            {% endif %}
          </div>
          {% if init_survey.DueDate %}
          <p class="due-date-surveys"> Due: {{ init_survey.DueDate }} </p>
          {% endif %}
          <p>
            {% if init_survey.Client %}
            Client: {{ init_survey.Client }}
            {% endif %}
            {% if init_survey.PhoneNumber %}
              - {{ init_survey.PhoneNumber }}
            {% endif %}
            <br />
          </p>
          <p>
            Address: {{ init_survey.Address }}
            {% if init_survey.City %}
              - {{ init_survey.City }}
            {% endif %}
            {% if init_survey.State %}
              - {{ init_survey.State }}
            {% endif %}
            {% if init_survey.Country %}
              - {{ init_survey.Country }}
            {% endif %}
          </p>
          {% if user.is_superuser %}
          <p class="ammount-surveys">Amount: {{init_survey.Ammount}}</p>
          {% endif %}
          {% if user.is_superuser %}
          {% if init_survey.NTEPrice %}
          <p class="ammount-surveys"> NTE Price: {{init_survey.NTEPrice}} </p>
          {% endif %}
          {% endif %}
          {% if init_survey.Description %}
          <p>Description:{{init_survey.Description}}</p>
          {% endif %}
          {% if init_survey.Comments %}
          Comments: {{init_survey.Comments}}
          {% endif %}
        </div>
      </div>
        <!-- [ sample-page ] end -->
      </div>
      <div id="nearby-survey-cards"></div>

  <div id="loading-overlay">
    <div class="spinner"></div>
    <p>Searching nearby surveys...</p>
  </div>
  <script src="{% static 'nearby.js' %}"></script>
  
  <!-- [ Main Content ] end -->
{% endblock content %}